# بيئات العمل الافتراضية
.env/
env/
venv/
.venv/

# ملفات البيئة
.env
.env.*

# ملفات الترجمة المؤقتة
*.pyc
__pycache__/

# مجلدات المحرر
.vscode/
.idea/

# ملفات قواعد البيانات المؤقتة
*.sqlite3

# ملفات اللوج والسجلات
*.log

# مجلدات التوثيق التلقائي (في حال توليدها)
site/

# ملفات الاختبار المؤقتة
.coverage
htmlcov/
pytest_cache/
